body{
  background: gray;
  color: yellow;
  text-align: left;
  font-family: "Verdana";
  margin: auto; 
  width: 500px;
}



h1 {
	color: cyan;
    text-align: left;
    font-family: "Verdana";
}

h3 {
	color: blue;
    text-align: left;
    font-family: "Verdana";
}